<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-16">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Raven X</title>
	<meta name="title" content="YouTube Downloader">
	<meta name="description" content="Fast and ad free YouTube downloader!">
	<link rel="icon" href="https://emojicdn.elk.sh/🚀?style=microsoft" />
	<link rel="shortcut icon" href="https://emojicdn.elk.sh/🚀?style=microsoft" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.ravenx.tk">
	<meta property="og:title" content="YouTube Downloader">
	<meta property="og:description" content="Fast and ad free YouTube downloader!">
	<meta property="og:image" content="/image.png">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://www.ravenx.tk"">
	<meta property="twitter:title" content="YouTube Downloader">
	<meta property="twitter:description" content="Fast and ad free YouTube downloader!">
	<meta property="twitter:image" content="/image.png">
	<title>YouTube Downloader</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	 rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js" defer></script>
	<script src="/script.js" defer></script>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<img src="/icon.svg">
	<h1>Raven X Converter</h1>
	<form>
		<input name="url" type="url" maxlength="100" required placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
    <button type="submit" id="download">Download</button>
  </form>
  <div id="card" style="display: none;">
    <p id="title">hi</p>
    <p id="channel">hi</p>
    <br>
    <a id="video">🎥 &nbsp; Video</a>
    <a id="audio">🔊 &nbsp; Audio</a>
    <br>
    <br>
  </div>
  <footer>
 <h6><A HREF="https://xgod.cf">Coming soon</A></h6>
    
  </footer>

    <footer>
 <h6> &copy; 2022 RavenX &trade; Derkila &reg;</A></h6>
    
  </footer>
  
</body>
</html>